[2016-02-12 22:53] abusalehmdtayeen opened #1 "Design database schema for list species service."

[2016-02-23 03:48] abusalehmdtayeen opened #2 "Create database for species list server"

[2016-02-23 03:50] abusalehmdtayeen opened #3 "Write code for different modules of species list server"

[2016-03-01 20:15] arlin opened #4 "Revise database schema"
Consult with Dail to revise database schema to capture stakeholder needs (80 % rule) as reflected in use-cases.  Implement the schema for storage of lists.

[2016-03-01 20:48] hdliv commented on #4
the updated schema has been sent to Abu and he is going over them

[2016-03-01 21:00] hdliv commented on #1
@abusalehmdtayeen  and @hdliv are working the schema

[2016-03-01 21:51] arlin commented on #1
Good.   We want to make discrete issues, address them, and then close them.  So, the issue for this ticket -- an initial design-- has been resolved.  The next step is to revise the schema and implement it.  See phylotastic/Phylotastic_WebService_Projects#4

[2016-03-01 21:54] arlin opened #5 "provided formatted lists for server"
After the list schema is implemented, the next step is to populate it with list data.  Use information from species lists to create tables with the data for each list.  Begin by focusing on a small set of lists that we want to use in phylotastic-portal for testing.

[2016-03-01 21:56] arlin commented on #4
I see that Abu already made a ticket for creating the database.  So, this is separated into pieces
#4: revise the initial schema (Dail and Abu working together)
#2: implement the schema (Abu)
#5: format initial lists so that Abu can import them into schema (Dail)

[2016-03-01 22:26] abusalehmdtayeen commented on #4
The file https://github.com/phylotastic/Phylotastic_WebService_Documentation/blob/master/SpeciesListServer/SpeciesListArchiveGuide.md describes what type of files user can upload, what are the file formats, data types etc. It needs to be updated according to the new schema. Dail will have a look at it and send feedback.

[2016-03-01 22:39] arlin commented on #4
Good!  It looks like you have designed this carefully to meet the Darwin Core Archive spec.

[2016-03-01 23:27] arlin opened #6 "Plan for species page-rank service"
For the portal and other applications, we would like to down-sample taxa by "importance" as defined by something like a page rank.  @hyanwong has collected this kind of information.

The goal of this ticket is to come up with a plan to turn this kind of data into a web service backed by a database that is updated periodically.  There are millions of species but possibly we do not need to know abou

[2016-03-02 06:18] thanhnh-infinity opened #7 "work on pruning service"

[2016-03-02 06:21] thanhnh-infinity commented on #7
Find service to reduce huge tree (Pruning service)
There are 2 ways be able to follow
- Given a list of species names => Pruning => uses Open Tree => Get tree
- or Given a list of species names => uses Open Tree => get huge tree => pruning service => Get correct tree

[2016-03-02 06:59] thanhnh-infinity commented on #7
Try to find a good web service OR desktop software for this task

[2016-03-03 05:41] abusalehmdtayeen commented on #4
Completed reviewing database schema. Based on the schema and requirements I did some research to chose database system to use for species list server

[2016-03-03 05:45] abusalehmdtayeen commented on #2
Tested features of MongoDB (a document-oriented database) locally to create database of species list server.

[2016-03-03 19:09] abusalehmdtayeen commented on #3
Started writing code for inserting and querying species list server database.

[2016-03-03 19:34] abusalehmdtayeen commented on #5
Formatted list for species list server has to follow the method described in https://github.com/phylotastic/Phylotastic_WebService_Documentation/blob/master/SpeciesListServer/SpeciesListArchiveGuide.md

I created this document by following the Darwin Core Archive. In general use case a user will be uploading one list at a time. For each list there will be multiple required or optional files in the

[2016-03-03 21:04] #1 closed

[2016-03-04 16:23] arlin commented on #7
I think we need to talk about this.  A pruning service should have a cache.   OpenTree is not updated very often. They only come out with new versions every few months.

In generally, all Phylotastic data providers should advertise the version number of their data, so that clients will know when to update their cached version.

[2016-03-07 15:49] hdliv commented on #5
Abu.  Are the lists I sent over OK?

[2016-03-07 19:15] abusalehmdtayeen commented on #5
Dail, I was trying to parse one of your formatted list. But I found that you have used comma inside the value of some fields. For example, in study1 list for List Author field you have used multiple authors separated by comma. In this case it becomes difficult for us to parse because we use the the comma to find the field values. Its ok to have multiple values for a field, but you have to use diff

[2016-03-07 20:11] hdliv commented on #5
sent the new files to you

[2016-03-07 22:23] arlin commented on #5
@abusalehmdtayeen, what language are you using?  Surely there is a pre-existing library that knows how to read and write csv files with commas in a field by enclosing the contents of the field in quotations.  This is what Excel does, for instance.  The Python csv reader will do this too, e.g., see http://stackoverflow.com/questions/8311900/python-read-csv-file-with-comma-within-fields

[2016-03-08 01:07] abusalehmdtayeen commented on #5
@arlin, I am using python. Yes, I checked that enclosing multiple values with quotations works too. I will now use the quotations to parse then.

@Dail, thanks for sending me the new files. But I think the old ones will work too now.

[2016-03-10 07:23] abusalehmdtayeen commented on #2
Completed setting up database for species list on phylo server.

[2016-03-10 07:24] abusalehmdtayeen commented on #3
Finished coding insert and query module for species list server.

[2016-03-10 20:04] arlin opened #8 "rename repo with shorter name"
no need to repeat "phylotastic" in everything.  we can use "pt" in short names.

see: http://zanshin.net/2012/04/03/renaming-github-repository/

[2016-03-10 20:12] arlin commented on #4
@abusalehmdtayeen, I think you have revised the db schema.  If so, please move this ticket into "in review".

[2016-03-10 20:14] hdliv commented on #5
@arlin @abusalehmdtayeen     Please use @hdliv so that i receive notifications

[2016-03-10 21:05] #4 closed

[2016-03-14 18:15] arlin opened #9 "investigate "Felidae" behavior"
When I request species from taxon "Felidae" (cat family) using the web tool, I get a list of 44 species that are all from *extinct* genera (Adelphailurus, Dinofelis, Homotherium, Machairodus, Megantereon, Miracinonyx, Nimravides, Pontosmilus, Pratifelis, Proailurus, Pseudaelurus, Sivapanthera, Smilodon).  So the tree is always empty.  There are 30 to 40 living cat species including lion, tiger, ch

[2016-03-17 17:36] arlin commented on #3
@abusalehmdtayeen, could you tell us where this code is located?  I looked in the webservice projects repo and I could not find it.

[2016-03-17 18:29] abusalehmdtayeen commented on #3
@arlin, all code modules related to species list service are located in https://github.com/phylotastic/Phylotastic_WebService_Projects/tree/master/Phylotastic_SLS_WebServices

I will soon add more features to the species list services.

[2016-03-17 18:32] abusalehmdtayeen opened #10 "Add more features to species list service"
Species list service now supports inserting lists, getting user lists, getting species of a list features. I need to add remove lists, remove species from a list features to complete the set of features. Since each list is related to a user, some users may want to keep their lists private or some may want to keep those public. So I will keep option to support that feature.

[2016-03-17 20:18] #2 closed

[2016-03-17 20:18] #5 closed

[2016-03-17 20:20] #3 closed

[2016-03-19 19:03] abusalehmdtayeen opened #11 "A service to find whether a species has genome sequence in NCBI"

[2016-03-22 17:23] abusalehmdtayeen commented on #10
Implemented the following features to species list services:
1. Inserting species to an existing list.
2. Remove species from an existing list.
3. Remove a complete list.
4. Concept of public and private lists. Retrieval of public lists by any user.

[2016-03-22 22:00] arlin commented on #8
Thanks!

[2016-03-24 03:35] abusalehmdtayeen commented on #9
@arlin : I have done a detail analysis on the behaviour of the service on Felidae input. I found that it is not a bug of the service, but rather ​a problem of Open Tree API response. You can find a brief report of the analysis in https://github.com/phylotastic/phylo_services_docs/blob/master/BugReports/Taxon%20to%20species%20service%20bug%20report.md

[2016-03-24 13:22] arlin commented on #9
Thanks for the analysis and the workflow diagram!  Lets continue discussion  in the chat room.

[2016-03-24 20:08] #8 closed

[2016-03-24 20:12] #9 closed

[2016-03-24 20:52] arlin opened #12 "use induced subtree, not subtree"
Change the web service so that it only gets the induced subtree.

[2016-03-24 20:59] arlin commented on #7
As discussed today, we want to use induced_subtree instead of this.  I created a separate ticket for that.  This can't be moved to back-log or tagged with wontfix

[2016-03-25 00:05] abusalehmdtayeen opened #13 "Modify taxon_to_species service code to fix "Felidae" behavior"
reference: https://github.com/phylotastic/phylo_webservices/issues/9

[2016-03-25 14:15] arlin commented on #11
The complete workflow for "provide the tree for all species in taxon T with genomes in NCBI" is implemented in Perl here:   https://github.com/arlin/sample_taxa/tree/master/perl

I hope that is helpful.

[2016-03-28 18:12] abusalehmdtayeen commented on #12
@arlin: I have modified the get tree service to use only induced_subtree method of Open Tree. Now you should be able to get reduced size tree. Please test the app now. We don't know much about the behaviour of induced_subtree method. It might happen that in some cases the method will fail. Let me know about these cases. I will verify it with direct Open Tree service call.

[2016-03-28 19:52] thanhnh-infinity commented on #7
I will tag this ticket with wontfix

[2016-03-31 04:18] abusalehmdtayeen commented on #13
Modified taxon to species service to fix "Felidae" behaviour. Also implemented cache to improve the service. Now for higher taxon inputs, in the first request the response time may be long , but in the next requests it will be faster.

[2016-03-31 14:23] arlin commented on #13
this seems to be fixed.  Is it time to move this to "in review"?

[2016-03-31 14:49] arlin commented on #7
ok, will move this to done.

[2016-03-31 14:49] #7 closed

[2016-03-31 15:07] arlin commented on #13
I have tested this and it is fixed for Felidae. Thanks!

[2016-03-31 15:22] arlin commented on #12
Yes, this appears to be fixed.   I have not experienced a single failure yet.  thanks!

[2016-03-31 15:22] #13 closed

[2016-03-31 15:22] #12 closed

[2016-03-31 17:17] hdliv commented on #12
@arlin @abusalehmdtayeen I tested the mosquito photo a few days ago and tested again and we get a tree of the 3 and a 'cut-off' tree with the same.

[2016-04-04 20:41] arlin opened #14 "authentication module"
In Phylotastic server side, Abu has to create module to obtain access_token that is submitted from mobile app ( and portal so far). And then this module be able to check valid or in-valid access_token with Google to make sure that signed in Google account on app (and portal so far) has enough privileges to access Phylotastic Web Services. If Yes, Phylotastic server will return data, If NO, an exce

[2016-04-05 17:40] abusalehmdtayeen opened #15 "Modify GNRD wrapper service to use the new GNRD API"

[2016-04-05 20:31] arlin opened #16 "reconsider list requirements"
We ran into a problem with a list not being processed because had NA or blank for the "published" date.  This is undesired behavior, because users may wish to submit lists that are not published at all.

The issue is to re-think what we are requiring.  Which fields are essential for which use-cases?  Which fields are essential for all use-cases?

Write a brief description and analysis of this prob

[2016-04-06 23:17] arlin commented on #14
@abusalehmdtayeen, can you clarify the progress on this?  Is it done?   How do we test?

[2016-04-06 23:36] abusalehmdtayeen commented on #14
I have finished writing the module to test the validity of access_token. But I have not integrated the module with the services yet because some issues came up when Thanh, Dr. Pontelli and I were discussing the authentication today. We would like to discuss these issues in tomorrow's meeting before I integrate the module with the services.

[2016-04-07 06:05] abusalehmdtayeen commented on #15
Finished modification of find names service to use new GNRD API.

[2016-04-13 00:02] thanhnh-infinity opened #17 "build Travis testing tool"

[2016-04-13 00:02] thanhnh-infinity opened #18 "Test Web Service : Create Test Function and Test Cases for Find Scientific Names on web pages"

[2016-04-13 00:03] thanhnh-infinity opened #19 "Test Web Service : Create Test Function and Test Cases for Find Scientific Names on free-form text"

[2016-04-13 22:27] abusalehmdtayeen commented on #11
@arlin, Thanks for the link. The scripts really helped me to figure out which API's of NCBI to use for this use case since there are several of them. I have finished coding the module for this service.

[2016-04-14 05:00] thanhnh-infinity opened #20 "Test Web Service : Create Test Function and Test Case for Resolve Scientific Names with Open Tree TNRS (GET and POST method)"

[2016-04-14 05:01] thanhnh-infinity opened #21 "Test Web Service : Create Test Function and Test Case for Resolve Scientific Names with GNR TNRS (GET and POST method)"

[2016-04-14 05:02] thanhnh-infinity opened #22 "Test Web Service : Create Test Function and Test Case for Get Phylogenetic Trees from Open Tree of Life (GET and POST method)"

[2016-04-15 18:32] arlin commented on #15
@abusalehmdtayeen please provide an example one-liner using curl to test this

[2016-04-15 18:36] #17 closed

[2016-04-15 18:39] arlin commented on #11
I have tested this with several taxa, e.g.,
http://phylo.cs.nmsu.edu:5004/phylotastic_ws/ts/ncbi/genome_species?taxon=Felidae

This works.  Thanks.   It will be useful to have.

[2016-04-15 18:40] #11 closed

[2016-04-15 21:19] hdliv commented on #10
moving this to done

[2016-04-15 21:20] arlin commented on #10
@hdliv , if you did some tests on this, please give us a sentence or 2 to describe

[2016-04-15 21:22] hdliv commented on #10
@arlin I spoke to @abusalehmdtayeen and you and i tested these last week: https://github.com/phylotastic/phylo_services_docs/blob/master/SpeciesListServer/SpeciesListServicesDescription.md

[2016-04-15 21:26] hdliv commented on #10
@arlin will move back and test again

[2016-04-18 19:50] hdliv commented on #10
all working

[2016-04-18 19:51] #10 closed

[2016-04-19 17:20] abusalehmdtayeen opened #23 "Change species list service APIs"
Change the get_list API according to the document sent by Dail

[2016-04-21 07:06] abusalehmdtayeen commented on #23
Changed the service API based on new requirements.

[2016-04-21 07:09] abusalehmdtayeen commented on #14
Authentication module has been integrated with species list services to allow only verified users to access their private lists.

[2016-04-21 22:16] arlin opened #24 "test name extraction from image"
Write a test of name extraction from images.  Use images from the mobile app test/images directory.

[2016-04-25 19:06] #15 closed

[2016-04-25 19:06] arlin commented on #14
so how do we test this?

[2016-04-25 20:47] abusalehmdtayeen commented on #14
@arlin : It is now integrated with the species list services. You have to test this feature through Van's web-portal since user can not generate access_token by himself.

[2016-04-28 14:20] arlin commented on #6
we discussed this with @hyanwong on the 14th of April as per the notes here: https://docs.google.com/document/d/1mgal-qCKOlGGrHC0EsEve2KzxP_LCy_q2Y2_ytOeM6c/edit#heading=h.k36zpzey9z1n

Yan has code for this.  We did not make a decision about whether to implement or not.  However, the idea still seems promising.

[2016-04-29 15:58] kcranston opened #25 "do not require sign-in for all content"
I was testing the tree search at http://phylo.cs.nmsu.edu:3000/ . It is a big turnoff to have to sign in to do _anything_ on the site. Would be better to let people search / explore the site and then require sign in when required (e.g. for saving / other services).

[2016-04-29 16:13] arlin commented on #25
Agreed.   We should think about how to implement this before we get too deep into it.  Part of the rationale is that we want users of phylotastic tools to be able to maintain an identity across clients, so that they can access their content from multiple clients, via a tree gallery and a list server.  The list server will store any taxon lists that you make, with your identity.  This will allow yo

[2016-05-05 14:28] arlin commented on #21
I reviewed this code today.   Two comments:

1.  WS_N_HEADER is defined for N = 1 to 8, but it is always the same.   Therefore the following code does not produce an error:

"requests.get(WS_4_RESOURCES_URL_GET, params=encoded_param_structure, headers=WS_3_HEADER)"

however, this is not a good practice.  If the header is always going to be the same, then just define it once rather than 8 times.  I

[2016-05-05 14:30] arlin commented on #20
My comments are similar to those for #21.  Why issubset rather than isequal?

[2016-05-05 14:33] arlin commented on #18
Same comment on issubset applies as for #21.

instead of referring to "Web Service 1's result", it would be more informative to explain that this is a service to scrape names from a URL, e.g.,, "the result of web service 1 (scrape names from URL using GNRD) is .  . ."

[2016-05-05 14:34] arlin commented on #19
same comments as for #18

[2016-05-06 17:13] arlin opened #26 "plan for translation services"
Among the shim services we will need are translation services.  Identify needed translation services, find and test implementations, develop apis, stand up services.

possibilities to consider:
* http://bioinfweb.info/JPhyloIO/

[2016-05-19 17:39] thanhnh-infinity commented on #21
Hi @arlin

1. WS_N_HEADER is header for HTTP request for each web service. Because right now, these web services are "application/json", so you saw they are the same. But if the web service (for example WS 1) changes the header to "application/xml or plain-text", it is not similar with the rest. In order to guarantee this case (when WS changes the format and data type for input and output), each W

[2016-05-19 17:40] thanhnh-infinity commented on #20
I answered it in #21

[2016-05-19 17:40] thanhnh-infinity commented on #18
Yes, I will make it more detail for message

[2016-05-26 19:58] hdliv opened #27 "Prune off subspecies?"
We should decide how we want to treat subspecies and strains when using 'genome' tab.

[2016-07-07 16:37] #14 closed

[2016-07-07 16:43] arlin commented on #21
I'm sorry for letting this slip.  The correct behavior is to test for equality of sets, where  [A,B,C] setequals [A,C,B].    I'm sure that you can find setequals methods in Python somewhere.  If that is not easy to find, then just compare expected.sort to result.sort.

[2016-07-14 18:54] arlin commented on #23
Please describe the changes so that they can be reviewed.

[2016-07-14 19:11] abusalehmdtayeen commented on #23
Here is a summary of the changes I made:

1. There is only one API to get list information instead of get user lists and get public lists API. There is also no get_species API. You have to use the combination of two optional parameters to get meta-data and species collection.

2. To get a private list a user must authenticate by providing both his user_id (email) and valid access token.

3. No aut

[2016-07-27 21:46] arlin commented on #24
I'm taking this out of the ready column because it is not a priority.  name extraction is generally working well.

[2016-08-18 17:05] arlin opened #28 "explore 2nd tree source"
Find a second source for trees.  Either an installation that can be developed to provide services, or a source of content that we can use to populate our own db with a web-services interface.

ToLWeb - delivers whole tree?

Phylomatic - has a scaled version of APG, according to BO

TreeBASE - has trees that are not in OT

[2016-08-25 22:39] abusalehmdtayeen opened #29 "Create document for tree viewer service"

[2016-09-02 18:20] abusalehmdtayeen commented on #23
@hdliv , You can close this issue. This was completed more than a month ago.

[2016-09-02 19:59] #23 closed

[2016-09-19 19:06] abusalehmdtayeen opened #30 "Implement web service to get metadata of tree nodes"

[2016-09-24 17:24] abusalehmdtayeen opened #31 "Create web service for scaling tree using datelife"

[2016-09-24 17:57] abusalehmdtayeen opened #32 "Saving actions performed on a tree and support export"
When user performs some visual actions on the tree inside the portal, he may want to do it again for the same tree. But it gets lost when user moves to a different tree. So we need to record the actions performed by the user.

[2016-09-24 18:08] abusalehmdtayeen opened #33 "Remove parenthesis from extracted names using GNRD"
While scraping names from some urls (e.g http://en.wikipedia.org/wiki/Ant), the names in the result contained parenthesis. We need to remove those parenthesis.

[2016-09-24 22:46] abusalehmdtayeen opened #34 "Attach metadata info in each web service result"
Web services should be able to give metadata output along with the result so that user knows exactly where the result came from

[2016-09-27 16:10] arlin commented on #22
The remaining task is to replace the "subset" method with the desired "equals" method when testing the return value against the expected return value for a service.  I'm sure you can solve the problem with sorting.

[2016-09-27 16:10] arlin commented on #21
The remaining task is to replace the "subset" method with the desired "equals" method when testing the return value against the expected return value for a service.  I'm sure you can solve the problem with sorting.

[2016-09-27 16:11] arlin commented on #20
The remaining task is to replace the "subset" method with the desired "equals" method when testing the return value against the expected return value for a service.  I'm sure you can solve the problem with sorting.

[2016-09-27 16:11] arlin commented on #18
The remaining task is to replace the "subset" method with the desired "equals" method when testing the return value against the expected return value for a service.  I'm sure you can solve the problem with sorting.

[2016-09-27 16:11] arlin commented on #19
The remaining task is to replace the "subset" method with the desired "equals" method when testing the return value against the expected return value for a service.  I'm sure you can solve the problem with sorting.

[2016-09-27 16:59] abusalehmdtayeen commented on #31
This issue duplicates #161

[2016-09-27 17:26] abusalehmdtayeen opened #35 "Perform capacity tests of web services"

[2016-09-27 18:04] abusalehmdtayeen opened #36 "Add option to remove extinct species from result"
Currently, in taxon_to_species service the returned result contains all species including extinct ones. Give an option to remove the extinct species

[2016-09-27 18:07] abusalehmdtayeen opened #37 "Improve cache-control of taxon_to_species services"
Modify the taxon_to-species service to update the cache result periodically or whenever new data is available.

[2016-09-29 15:13] thanhnh-infinity commented on #22
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:14] thanhnh-infinity commented on #20
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:14] thanhnh-infinity commented on #19
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:14] thanhnh-infinity commented on #21
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:15] thanhnh-infinity commented on #18
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:15] thanhnh-infinity commented on #21
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 15:15] thanhnh-infinity commented on #21
I think ,now, Testing Web Services are transferred to @abusalehmdtayeen . He will continue developing this task. @abusalehmdtayeen , could you take a look that Dr @arlin's suggest

[2016-09-29 16:48] abusalehmdtayeen commented on #22
Ok, @thanhnh-infinity , I will fix those.

[2016-09-29 18:08] abusalehmdtayeen commented on #33
It is fixed. Now there should not be any parenthesis in any names of the result.

[2016-10-12 17:56] abusalehmdtayeen commented on #32
duplicates issue#182

[2016-10-17 22:00] arlin opened #38 "missing taxon labels: discuss with OT"
If you query for an induced subtree with a list that includes Ursus species1 and Ursus species2, even if these are the only Ursus species, the node uniting them is not necessarily labeled "Ursus". I can imagine why this might happen due to the way subtrees are extracted. At the front end, however, this annoys users. Some nodes get their expected labels, and others don't.

Suppose you wanted to fix

[2016-10-18 01:00] arlin commented on #38
I have discussed this.  Next step is to put together use-cases to illustrate the issue, and create a new issue on OT.

[2016-10-18 01:00] #38 closed

[2016-10-18 01:02] arlin opened #39 "missing taxon names issue for OT"
regarding #38, make a couple of use-cases and post an issue to OT.

For each case, include a small set of species, one in which the name is recovered, and another in which it is not.

[2016-10-18 01:15] #39 closed

[2016-10-18 01:16] arlin commented on #39
@mtholder created the issue for me: see OpenTreeOfLife/treemachine#229

[2016-10-25 20:29] arlin opened #40 "python molurus issue"
The Jungle Book list has Python molurus, which is available in OT, but somehow never gets found.

Use OT web services directly to find out where the problem happens.

[2016-11-02 18:10] hdliv commented on #40
this is odd.  OT webservice: ` {"status_code": 200, "resolvedNames": [{"match_type": "Exact", "resolver_name": "OT", "matched_name": "Python molurus", "search_string": "python molurus", "synonyms": ["Boa ordinata", "Python jamesonii", "Python molurus", "Python tigris", "Boa albicans", "Boa castanea", "Python trivittatus", "Boa orbiculata", "Boa cinerea", "Python molurus (Linnaeus, 1758)", "Molurus

[2016-11-15 16:56] hdliv commented on #40
@arlin should we close this or look more into it?

[2016-12-08 20:39] arlin opened #41 "develop metadata for services"
Client programs and users will benefit from a description of services that allows for traceability.

For a good example, see @dimus's API description here http://gnrd.globalnames.org/api

[2016-12-08 20:41] arlin commented on #41
sorry, this duplicates #34

[2016-12-08 20:42] #41 closed

[2016-12-08 20:43] arlin commented on #34
@abusalehmdtayeen, @hdliv  and I were discussing this over the past week.  @hdliv would like to work with you on this.

For a good example, see @dimus  description here http://gnrd.globalnames.org/api

[2016-12-21 19:10] arlin opened #42 "metadata for "Find Scientific Names on web pages" and "Find Scientific Names on free-form text""
For web services 1 and 2, add metadata to the information returned by service.  GNRD provides an excellent example of this.  The metadata should include
* all of the search parameter settings.  See below.
* the URL source of the names
* the number of names returned
* the date and time of execution
* the URL of this service
* the URL for the docs for this service

Parameter settings such as languag

[2016-12-21 19:16] arlin opened #43 "metadata for "Resolve Scientific Names with GNR TNRS""
For web service 4, add metadata to JSON returned by service.  GNRD provides an excellent example of this. The metadata should include

* all of the search parameter settings. See below.
* the number of names returned
* the date and time of execution
* the URL of this service
* the URL for the docs for this service

Parameter settings are reported already by GNRD resolver (see http://resolver.globa

[2016-12-21 19:19] arlin opened #44 "add metadata to "Get Phylogenetic Trees from Open Tree of Life""
For web service 5, add metadata to the information returned by service.  The metadata should include

* the number of tips
* the version of the synth tree (synth_id in tree_of_life/about)
* the list of supporting studies (see below)
* the date and time of execution (see below)
* the URL of this service
* the URL for the docs for this service

@abusalehmdtayeen  is already including a timestamp as

[2016-12-21 19:19] arlin opened #45 "metadata for "Get all Species from a Taxon""
For web service 6, add metadata to the information returned by service. The metadata should include
   * input query
   * list of taxa returned
   * number of taxa returned
   * date
   * source
   * version of the source

[2016-12-21 19:35] hdliv commented on #45
For web service 6,  add metadata to the information returned by service.  The metadata should include

   * input query
   * list of taxa returned
   * number of taxa returned
   * date
   * source
   * version of the source

[2016-12-21 19:43] arlin commented on #45
@hdliv, can you put that into the description for this ticket instead of a comment, please?

[2016-12-21 19:59] hdliv commented on #45
@arlin done

[2017-02-02 15:58] arlin opened #46 "design common-names service"
For various uses, especially educational ones, it will be useful to have a common names service that maps common names to formal names and back.  NCBI has numerous common names in its taxonomy, which can be accessed via an API or downloaded by ftp.  @hyanwong already has built a mapping.

1.  consider requirements for a common-names service.  what use-cases must it support?  what operations must i

[2017-02-02 15:59] arlin opened #47 "design sequence-based scaling service"

[2017-02-02 21:58] hyanwong commented on #46
My mapping simply uses EOL common names, which are culled from many sources. But this does mean they are multilingual. The key part is mapping from EOL ids to e.g. OTT identifiers, which I have done.

[2017-02-08 17:38] abusalehmdtayeen commented on #45
Done

[2017-02-09 03:54] abusalehmdtayeen commented on #44
Done.

[2017-02-15 20:45] arlin opened #48 "find out why some EOL images are not acquired"
Go to the dev server, choose the Marine vs. terrestrial mammals list, get a tree, and load the images.  The images are missing for Trichechus manatus and Balaenoptera acutorostrata.

However, images are available for both of these species at EOL.

Find out why this is happening.  If it is a bug in our services, write a ticket for that.  If it is a bug in EOL services, write a ticket for that.  If

[2017-02-22 16:06] arlin commented on #28
http://redwood.biosci.arizona.edu/ service doesn't seem to be working but this would be good.

[2017-02-23 06:09] abusalehmdtayeen commented on #48
@arlin, I found a small bug in our image service. I have fixed it. Now you should be able to see images of those two species.

[2017-02-23 06:38] abusalehmdtayeen opened #49 "phylomatic tree service"
Wrap phylomatic into a service which will work as an alternative tree service for phylotastic.

[2017-02-27 16:52] arlin commented on #48
Thanks!  Closing this.  Looks good.

[2017-02-27 16:52] #48 closed

[2017-03-02 04:50] abusalehmdtayeen opened #50 "phyloT web service"
Create a web service using phyloT tree generation engine API.

[2017-03-08 21:38] arlin commented on #44
I'm sorry for taking so long to get to this.   I see two small issues.  One of them is that there is a missing space after induced_subtree in "inference_method": "induced_subtreefrom synthetic tree version opentree8.0".

Second, I think we should call the synth tree version  "synth_id" rather than "synth_tree_version", on the grounds that this is what OpenTree uses.  I have requested clarification

[2017-03-08 21:38] #32 closed

[2017-03-08 21:57] arlin commented on #45
Good, I like this.

`{
  "execution_time": "0.33",
  "status_code": 200,
  "creation_time": "2017-03-08T14:41:13.884198",
  "taxon": "Canidae",
  "total_names": 166,
  "source_urls": [
    "https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-Taxonomy"
  ],
  "source_version": "ott2.9draft12",
  "service_url": "http://phylo.cs.nmsu.edu:5004/phylotastic_ws/ts/all_species?taxon=Canidae",
  "mes

[2017-03-08 22:09] #33 closed

[2017-03-08 22:13] arlin commented on #42
Good, thanks.

[2017-03-08 22:14] #42 closed

[2017-03-08 22:23] arlin commented on #43
See the comment to #6.  Please remove the comments and place the query string inside the json.

[2017-03-09 14:40] abusalehmdtayeen commented on #50
Finished implementation of the new web service to get phylogenetic trees from phyloT.
https://github.com/phylotastic/phylo_services_docs/blob/master/ServiceDescription/PhyloServicesDescription.md#web-service-19

[2017-03-10 18:57] arlin commented on #49
Phylomatic offers 3 different plant trees and 1 mammal tree.  The examples in the docs suggest that you are using the mammals tree.  Can you confirm that @abusalehmdtayeen?

[2017-03-10 19:04] arlin commented on #50
This is good.  I would like to make a few small suggestions.
1.  remove the comments
2. put the query string in the return
3. modify the docs to explain how PhyloT works.  One simple way to do this is to change the service description field to

"Service Description: A service to get a taxonomic tree from the NCBI taxonomy using phyloT (http://phylot.biobyte.de/)"

[2017-03-15 23:17] abusalehmdtayeen commented on #49
@arlin, In the documentation, I have added another example which uses one of the plant trees. Actually the choice of mega tree will depend on the list of species that are given as input. If most of the species are plant species than the service will use one of the plant mega trees to get the output  tree. Otherwise, mammals mega tree will be used.

[2017-03-16 00:04] abusalehmdtayeen commented on #50
Done.

[2017-03-16 00:17] abusalehmdtayeen commented on #44
Corrected the issues.

[2017-03-16 00:41] abusalehmdtayeen commented on #45
@arlin, "source_urls" and "source_version" properties have been removed.
From the JSON specification at http://www.json.org/: "An object is an unordered set of name/value pairs". As a consequence, JSON libraries are free to rearrange the order of the elements as they see fit. So I can not control the order of  "service_documentation"  and "service_url".

[2017-03-16 00:58] abusalehmdtayeen commented on #43
Done.

[2017-04-04 23:07] #28 closed

[2017-09-20 21:44] jar398 opened #51 "Wrong content-type"
At least one of the services (`tnrs/ot/resolve`) is generating the wrong content-type in the response.  E.g.

[code]

gives the following headers

[code]

The content-type ought to be `application/json`, as the documentation says. See "Output Format" at https://github.com/phylotastic/phylo_services_docs/blob/master/ServiceDescription/PhyloServicesDescription.md

[2017-09-21 13:42] abusalehmdtayeen commented on #51
@jar398, The content-type issue has been resolved. I found the same problem for some other services too and fixed them all. You can check. Thanks.

[2017-09-21 14:37] jar398 commented on #51
Excellent, thanks. Checks out for that one service and I assume it will work with the others - if it doesn't then I will re-open this issue.

[2017-09-21 14:37] #51 closed

[2017-10-12 15:13] jar398 opened #52 "Review status codes returned when wrapped service returns non-200"
This is just a request for design review regarding HTTP status codes returned by the services when the wrapped service yields a code other than 200, as discussed on today's call.

Currently if a wrapped service (e.g. `tnrs/ot/resolve`) returns a 400 or other non-200 HTTP tatus code, the phylotastic service returns a 200, with a payload that contains a `status_code` field giving the wrapped service

[2017-10-17 15:23] abusalehmdtayeen commented on #52
@jar398 , I have started to work on this issue for all phylotastic web services. I will also include additional parameters for some web services to improve the functionality. Based on that, the structure of results for those services may change. Please give me couple of days to finish this. I will update the current documentation with more info (new params, example results, error codes, capacity)

[2017-10-18 15:01] jar398 commented on #52
No urgency from my point of view. I’m just filing design issues as I see them, and have no opinion (in my current role) as to whether they should be acted upon.

[2017-10-24 16:40] abusalehmdtayeen commented on #52
@jar398 ,  I have created an updated documentation of the services for the modifications I made related to this issue. You can find the documentation in the README file of the following link.
https://github.com/phylotastic/phylo_services_docs/tree/master/ServiceDescription

Please note that I have not pushed the changes to the server yet.  So trying the examples in this doc will not work at this m

[2017-11-01 19:26] arlin opened #53 "development server for web services"
as discussed at October 26 meeting, it would be good to have a dev server for the web services, rather than just a production server.

[2017-11-01 19:27] arlin commented on #53
@epontell, please assign this ticket if you feel that this is appropriate, otherwise put it into backlog.

[2018-02-08 16:04] #43 closed

[2018-02-08 16:05] #44 closed

[2018-02-08 16:05] #45 closed

[2018-02-08 16:05] #50 closed

[2018-02-08 16:05] #49 closed

[2018-02-08 18:19] arlin commented on #34
@abusalehmdtayeen, I am trying to update this ticket.  Did the metadata get reviewed during the web services testing last fall?

[2018-02-08 23:20] arlin opened #54 "plan to implement common-names service"
An important 1st-quarter project goal is to improve our coverage of high-priority use-cases.
 For educational use-cases, support for common names is important.

First, explore options for a common name service:
* ask @dimus about GN resources
* ask @hyanwong about OneZoom resources
* consider using NCBI taxonomy (downloadable SQL dump) with common names

Second, make a plan.  Third, make tickets f

[2018-02-08 23:22] hyanwong commented on #54
Do you want common names in multiple languages?

[2018-02-08 23:25] hyanwong commented on #54
If you can map to EoL identifiers you can get common names easily. Or I can throw together a quick OneZoom API to return preferred common names in language X (culled from EoL) for any number of OTT identifiers.

[2018-02-08 23:28] hyanwong commented on #54
What would be mutually beneficial would be if any mistakes you spot could be corrected at source in EoL. One issue is that they are desperately trying to roll out version 3 of their site, and I'm not sure how much of a priority the common names correction interface is. I can ask...

[2018-02-12 18:18] #31 closed

[2018-02-12 18:19] abusalehmdtayeen commented on #34
Yes. We have metadata for all web services. I am closing this issue.

[2018-02-12 18:20] #34 closed

[2018-02-14 00:36] abusalehmdtayeen opened #55 "Develop new tree service utilizing source trees in TreeBase"
To reduce the dependency on OpenTreeofLife for getting phylogenetic trees and to allow automatic workflow composition to have multiple tree service choices while planning, a new tree service needs to be developed. Possible sources: TreeBase, ToLweb etc.

[2018-02-15 14:35] abusalehmdtayeen opened #56 "Implement service to get IUCN status of species"
To support conservation biology use-case

[2018-02-15 14:36] abusalehmdtayeen opened #57 "Implement service to get habitat of species"
To support conservation biology use-case

[2018-03-01 04:57] abusalehmdtayeen commented on #55
TreeBase service is done. Now planning for a new tree service using Phenoscape source.

[2018-03-01 16:11] arlin opened #58 "consider restructuring repos"
Currently we have one repo for documentation for services, and another with the services.

Neither one covers all the services, e.g., DateLife services are not covered.  Really this is just for services and wrappers developed at NMSU.

So, the structure here is not going to be logical to outsiders.

Consider whether it might be better to break these up into individual repos, one for each services.

[2018-03-07 03:31] #55 closed

[2018-03-27 23:11] #56 closed

[2018-03-27 23:12] abusalehmdtayeen commented on #56
Duplicate issue #57. Embedded in the web service for habitat of species.

[2018-03-27 23:13] abusalehmdtayeen commented on #57
Completed for EOL source. Looking for other sources to create alternative services. Need suggestions.

[2018-03-27 23:15] abusalehmdtayeen commented on #58
Removed some duplicate and unnecessary directories from `phylo_webservices` repository.
Need to do the same  on other repositories.

[2018-03-27 23:18] abusalehmdtayeen commented on #54
Completed common name service for sources NCBI, ITIS and TROPICOS. Looking for other sources to create alternative web service.

[2018-03-28 08:26] hyanwong commented on #54
@abusalehmdtayeen do you want to use the OneZoom common names API. You can try it by e.g. http://beta.onezoom.org/API/otts2vns.json?otts=770315,3597016,178482,872567 which gives common names for Open Tree Taxonomy identifiers in the default browser language, or http://beta.onezoom.org/API/otts2vns.json?otts=770315,3597016,178482,872567&lang=en to force english, or http://beta.onezoom.org/API/otts2

[2018-03-30 17:25] #54 closed

[2018-05-02 22:59] abusalehmdtayeen opened #59 "switch from v2 to v3 of OpenTreeofLife API"
Current phylotastic services are using version 2 of OpenTreeofLife APIs. Check the feasibility of v3 API and change the services accordingly.

[2018-06-03 16:51] #57 closed

[2018-06-17 03:34] bomeara opened #60 "Getting taxonomy from NCBI is failing."
CRAN will pull rphylotastic by June 30 if we don't fix this in the examples: https://cran.r-project.org/web/checks/check_results_rphylotastic.html.

It'a actually a problem with the service that gets info from NCBI: it's now returning

[code]

when calling `http://phylo.cs.nmsu.edu:5004/phylotastic_ws/gt/pt/get_tree?taxa=Setophaga striata|Setophaga magnolia|Setophaga angelae|Setophaga plumbea|Seto

[2018-06-17 17:29] abusalehmdtayeen commented on #60
@bomeara , I checked ITOL's new API and tried to fix the service. But they have changed it significantly. The workflow that I used to follow to get a tree using PhyloT is no longer possible. So we need to discontinue using this service.

[2018-06-17 20:46] bomeara commented on #60
Ok. Thanks. I'm deleting it from rphylotastic. Could you delete it from our services and the python package? We should also make sure @arlin notes this in the paper writing.

[2018-06-20 00:18] arlin commented on #60
@bomeara, does this relate to the issues that I found in the vignettes?

[2018-08-09 15:53] arlin opened #61 "Image caching option"
Implement a “no_cache” option to the image retrieval service for use in responsiveness testing.  This will allow us to conduct cleaner tests, and it will also allow us to estimate the performance effect of caching.

[2018-08-09 16:03] arlin opened #62 "Identify and fix scaling bottleneck"
From load testing results here:

https://docs.google.com/document/d/1mgal-qCKOlGGrHC0EsEve2KzxP_LCy_q2Y2_ytOeM6c/edit#heading=h.fzugdk5hu7q2

we believe that there is a bottleneck in scaling services at the level of the NMSU wrapper or the underlying R function calls.

Find out what is wrong, and fix things so that we can support 100 concurrent scaling threads.

[2018-08-09 16:04] arlin commented on #62
From load testing results here:

https://docs.google.com/document/d/1mgal-qCKOlGGrHC0EsEve2KzxP_LCy_q2Y2_ytOeM6c/edit#heading=h.fzugdk5hu7q2

we believe that there is a bottleneck in scaling services at the level of the NMSU wrapper or the underlying R function calls.

Find out what is wrong, and fix things so that we can support 100 concurrent scaling threads.

[2018-08-16 14:23] LunaSare opened #63 "name resolution issue: quick fix to name number limit"
If a list of names is too long, we could divide it in smaller chunks and call the service several times. Like that we won't choke it. I did this for some datelife functions, see issue https://github.com/phylotastic/datelife/issues/39

Do this with the name retrieval services (not possible for trees).  Divide input list into N sets of up to 1000, then loop from 1 to N, getting the names 1000 at a t

[2018-08-17 21:03] arlin opened #64 "dashboard showing responsiveness of services"
When we tested the portal last week, it was hard to interpret problems without knowing if the underlying services are responsive.  Real-time results are needed.

Implement a web dashboard that shows the status of each phylotastic service.

The simplest version of "status" is just "was it running the last time we tested", but this does not mean very much if the last test was a month ago.

Ideally,

[2018-08-27 18:15] abusalehmdtayeen commented on #62
I have replaced the old Python-to-R interface with a new one.  The new interface will be able to handle multiple connections to datelife R library. As a result, the datelife service will now scale better.

[2018-08-27 18:15] #62 closed

[2018-08-28 14:57] arlin opened #65 "ignore backup files with tilde in name"
There are a lot of backup files in here with names that end in ~.

Add the pattern "*~" to the gitignore file.

Then git rm all the files that end in tilde.

[2018-08-28 15:53] arlin opened #66 "assume rooted trees by default in compare_trees"
Look at test_compare_trees.TestCompareTrees.test_different.  This is a test to make sure that two different trees are distinguished, using tree1 `((a, b)c);` and tree2 `(a,(b, c));`.   This is either a mistake or not a good test, because the two trees don't have the same namespace.  The first tree is a two-taxon tree of a and b, with the internal node labeled c, and the second is a 3-taxon tree.

[2018-08-30 15:13] arlin commented on #60
@abusalehmdtayeen could you please provide an update on the status of this?

[2018-08-30 20:04] arlin commented on #60
So, if we have removed the service, and references to the service, we can close this ticket.  @abusalehmdtayeen, if that is true, could you please close this?

[2018-08-30 20:34] arlin opened #67 "expand test of get studies"
In test_md_studies.py, there are a couple of tests that do not actually test for correctness of the return value.  See the notes that say "Insert: ..." at lines 25 and 33.

Use the inputs in example_1 and example_2 to figure out what is the correct answer (see test_md_get_studies.py for examples of this).   Then, expand the test to check that, in each case, we get the right value for at least one

[2018-08-30 20:43] arlin opened #68 "add missing correctness test"
test_gt_ot_get_tree.py appears to be missing a correctness test at line 169.  However, see line 172-- it may be there already.

If correctness test is missing, fill it in.

[2018-08-30 20:44] arlin opened #69 "remove tryphy dependency"
Some of the files in the web services test suite depend on source files in a separate repo, the tryphy repo.  We want to remove this dependency.

In each case, identify the source file in the test code, copy it into the webservices repo, then rewrite the test so that it points to the new copy.  I did a grep on "tryphy" and there are only two files like this:

- [ ]  test_fn_tf_names_url.py
- [ ] t

[2018-08-30 21:00] arlin commented on #64
this was presented at the meeting today.  See http://phylo.cs.nmsu.edu:8001/status.php .

thanks @abusalehmdtayeen, good work!

[2018-08-30 21:00] #64 closed

[2018-08-31 03:15] #60 closed

[2018-09-02 00:35] abusalehmdtayeen commented on #68
The correctness test is already there.

[2018-09-02 00:36] abusalehmdtayeen commented on #69
Done.

[2018-09-02 01:10] abusalehmdtayeen commented on #67
Done

[2018-09-04 15:28] arlin commented on #69
is the test in the first file currently being skipped?

[2018-09-04 15:31] arlin commented on #67
thanks @abusalehmdtayeen

[2018-09-04 15:31] #67 closed

[2018-09-04 15:43] arlin commented on #69
I'm closing this but I will raise the issue about QOS vs. CI in the chat room.

[2018-09-04 15:44] #69 closed

[2018-10-30 03:13] #59 closed

[2018-12-29 03:24] bomeara opened #70 "EOL image search failing"
EOL's image search API has changed so rphylotastic and our webservice fail (try examples at https://github.com/phylotastic/phylo_services_docs/blob/master/ServiceDescription/PhyloServicesDescription.md#web-service-8). Even the citation to http://eol.org/api fails b/c that page doesn't exist anymore.

[2019-01-31 02:27] #70 closed, assigned to abusalehmdtayeen

[2019-03-03 01:01] bomeara opened #71 "Remove singleton nodes"
For all trees returned, allow the collapse of singleton nodes (nodes with one descendant only). Esp for javascript tree viz, such nodes can be annoying. The thing to watch is how names propagate on collapse (in a series of singleton nodes, typically each node has a name -- we probably want either the name on the tipmost or rootmost node (I'd argue for rootmost)).

[2019-03-03 17:15] LunaSare commented on #71
From r we use the function `ape::collapse.singles()`, but that uses a phylo object as input

[2019-03-03 17:21] LunaSare opened #72 "replace tip labels with "mrcaott" tag with corresponding scientific names"
Open Tree of life services sometimes returns tip labels with the tag "mrcaottID1ottID2" instead of the original scientific name.
Function `datelife::recover_mrcaott()` recovers the original name by getting all parent names from both ott IDs and then detecting the first parent that matches both.
That should be the original input name, so we just replace the "mrcaott" tip label with with this name.

[2019-03-07 15:23] #68 closed

[2019-04-04 20:36] bomeara opened #73 "ottids in returned tree"
https://github.com/phylotastic/phylo_services_docs/tree/master/ServiceDescription#ot has an option for ottid. There are two issues with this:

* The description is confusing: "a boolean value to specify whether to remove ott ids from the tree." -- so if true, it should remove... but it does the opposite. So I'd say "whether to *keep* ott ids"

* If you do choose to get rid of ottids, it also repla

[2019-04-05 23:47] abusalehmdtayeen commented on #73
@bomeara , I have updated the document  and made the changes in code as you suggested. It does not remove underscores now. Can you please test and close the issue if it is done?

[2019-04-08 14:34] bomeara commented on #73
It's better, but still an issue with a few names:

<img width="585" alt="Screen Shot 2019-04-08 at 10 29 41 AM" src="https://user-images.githubusercontent.com/1612612/55732332-cd696800-59e9-11e9-8233-7e2cd5456998.png">

[2019-04-08 14:34] bomeara commented on #73
btw, thanks for fixing the singleton node issue, too

[2019-04-18 05:14] abusalehmdtayeen commented on #71
Its done.

[2019-04-18 05:14] #71 closed

[2019-04-18 05:16] #46 closed

[2019-04-18 05:16] #35 closed

[2019-04-18 05:19] #25 closed

[2019-04-18 05:20] #22 closed

[2019-04-18 05:22] #21 closed

[2019-04-22 12:15] jwiggi18 opened #74 "Return tree with common name"
Abu, will you please create an API call that will return a newick with common names instead of scientific names.

[2019-04-25 00:52] #20 closed

[2019-04-25 00:53] #19 closed

[2019-04-25 00:53] #18 closed

[2019-04-25 00:54] #73 closed

[2019-04-25 14:06] abusalehmdtayeen commented on #74
Its done. You can find the documentation here: https://github.com/phylotastic/phylo_services_docs/tree/master/ServiceDescription#compoundservice

[2019-09-19 14:59] arlin opened #75 "taxon search for NCBI genomes bug (manuscript reviews)"
Taxon search at NCBI for genomes should use the "[ORGN]" or "[organism]" field to access NCBI's taxonomy.  We should get the following numbers:

- [x] Felidae: 10
- [x]  Primates: 50
- [ ]  Enterobacteriaceae: 274
- [x]  Insecta: 395
- [ ] Animalia: 1576
- [ ] Eukaryota: 4434

Some of these are too long to make a tree, but all of them should make a list.

[2019-09-20 13:24] arlin commented on #75
For the above taxa, this is what I get from the portal:
* Felidae: 10 (all matched)
* Primates: 10 (7 matched)
* Enterobacteriaceae: error
* Insecta: 10 (6 matched)
* Animalia: error

@ducvan0212 can you comment on (1) why there appears to be a limit of 10 and (2) what causes the errors?

[2019-09-20 13:33] arlin commented on #75
For the above taxa, this is what I get by invoking the web service directly:
* Felidae: 13 (about 10 binomials)
* Primates: 61 (does not include non-primate parasites of primates)
* Enterobacteriaceae: error ("Error: Response error from NCBI esummary.fcgi API")
* Insecta: 459
* Animalia: error  ("Error: Response error from NCBI esummary.fcgi API")
* Eukaryota: same error

After trying these a few

[2019-09-20 17:12] ducvan0212 commented on #75
@arlin The portal had a default bound on the number of species queried from a taxon. If you want to take more, you have to select the select box. Maybe the behavior is from very first commits when I developed the portal. I removed the bound, so you can see every species the portal received from the service. But I see the default number of queried species as described in https://github.com/phylotas

[2019-09-20 20:30] arlin commented on #75
OK, the portal is now fixed.  And the web service is using taxon-specific searches.  Our only problem now is to figure out the error messages.

[2019-09-24 01:56] abusalehmdtayeen commented on #75
@ducvan0212 there is no bound on the number of species returned from the service. Even in the documentation I did not write anything about bounding the result species.

[2019-09-24 02:07] abusalehmdtayeen commented on #75
@arlin , I found the problem with the three taxons: `Enterobacteriaceae`, `Animalia`, `Eukaryota`. For each of these, either there are large number of genomes or large number of species. For example,  `Enterobacteriaceae` has 274 genomes. But when it is cross-referenced with taxonomy database, there are ~42,000 species found. NCBI API can not handle more than 300 species at a time. So it was throw

[2019-10-01 12:13] arlin commented on #75
@abusalehmdtayeen, I don't understand this.  Searching on "Insecta" gives 395 and this was working, but "Enterobacteriaceae" has fewer genomes and it was not working.  Why?  This must have something to do with a second step "when it is cross-referenced with taxonomy" but I don't understand that part of it.

[2019-10-01 12:13] arlin commented on #75
and thanks for the fixes!

[2019-10-08 18:22] #75 closed

[2020-04-15 15:19] patrickdlandy opened #76 "OToL_wrapper_Tree returning no data from server"
The following GET requests are returning no data from the server as of April 15th, 2020. The OToL_wrapper_Tree service worked for me as recently as April 10th.

-Example given for OToL_wrapper_Tree sent as GET request on Postman: (no response): https://phylo.cs.nmsu.edu/phylotastic_ws/gt/ot/get_tree?taxa=Panthera%20pardus|Taxidea%20taxus|Lutra%20lutra|Canis%20lupus|Mustela%20altaica

-My own GET r

[2020-04-17 00:09] abusalehmdtayeen commented on #76
Hi @patrickdlandy , the OToL_wrapper_Tree service depends on the OpenTreeofLife (OToL) API which was down for a couple of days. This is why you did not get any response from the service. Although OToL API is working now, some of the examples in our documentation is not working at this moment. We will have to check whether there is any change to the OToL API which is causing this problem. Thanks fo

[2020-04-17 04:22] abusalehmdtayeen commented on #76
Hi  @patrickdlandy , We have resolved the problem. Your long GET request now works. I am closing this issue. Please feel free to open another issue if you find problem with any other services. Thanks.

[2020-04-17 04:22] #76 closed

[2020-04-17 22:13] patrickdlandy commented on #76
Working now.  Thanks!

[2022-01-28 21:13] jwiggi18 opened #77 "internal service error"
On the website: https://jwiggi18.github.io/phylogenies_as_models/

When attempting to pull a tree get the error:
![image](https://user-images.githubusercontent.com/42773012/151622162-d75e3706-3a05-488e-8377-4271473472d1.png)

The website was working a few weeks ago.

[2022-01-30 22:13] abusalehmdtayeen commented on #77
Hi @jwiggi18 , can you provide the input and the service name that caused this error? Knowing the input and service will help debugging the issue.

[2022-01-30 22:59] abusalehmdtayeen commented on #77
Hi @jwiggi18 , I found your input and service from my log. The issue was related to one of the dependent services (GNR) to get common names. GNR service url has changed and because of that there was an HTTP connection error.  I have fixed it by changing the old url to new url. Your input should work now.